### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import pandas as pd
import pathlib
import csv

# File to Load (Remember to Change These)
#file_to_load = "Resources/purchase_data.csv"

# Set path for file and store path to csvpath 
csvpath = pathlib.Path("Resources", "purchase_data.csv")

In [108]:
# Tell pandas to read the external file containing the dataset, using the file path which has been stored as 'csvpath' and save in a variable called 'purchase_data'
purchase_data = pd.read_csv(csvpath)

In [108]:
# Display summary data frame
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [109]:
# Go into purchase data, look for items under 'SN', count the number of items, using the nunique function to ignore Not a Number 'NaN' and store the count into variable called 'Players_count'
Players_count = purchase_data["SN"].nunique(dropna=True)

# display the players count under the heading 'Total Number of Players' 
pd.DataFrame({"Total Number of Players" : [Players_count]})

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [110]:
# Number of Unique Items

# Go into purchase data, look for items under 'Item ID', count the number of items, using the nunique function to ignore duplicates and NaN, and store the count into variable called 'unique_items_count'

unique_items_count = purchase_data["Item ID"].nunique()

# unique_items_count

In [111]:
# Average Price

# Go into purchase data, look for items under 'Price', find the mean, and store the result into variable called 'average_price'

average_price = purchase_data["Price"].mean()

# average_price

In [112]:
# Total Purchases

# Go into purchase data, look for items under 'Purchase ID', count, and store the result into variable called 'total_purchases'
total_purchases = purchase_data["Purchase ID"].count()

# total_purchases

In [113]:
#Total Revenue
# Go into purchase data, look for items under 'Price', find the sum, and store the result into variable called 'total_revenue'
total_revenue = purchase_data["Price"].sum()

# total_revenue

In [114]:
# Create a summary data frame to hold the results with headings

Summary_Totals_df = pd.DataFrame({"Number of Unique Items": [unique_items_count],
                           "Average Price":"${:,.2f}".format(average_price),
                           "Number of Purchases": [total_purchases],
                           "Total Revenue": "${:,.2f}".format(total_revenue)})
Summary_Totals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [115]:
# to find percentage of players by gender, first drop duplicates in purchase_data using player identifiers, 'SN and Gender' labels and store the refined data in a variable called 'Gender_demography'
Gender_demography = purchase_data[["SN" , "Gender"]].drop_duplicates()

# Gender_demography

In [116]:
# Go into the refined data and value-count players by Gender
Gender_counts = Gender_demography["Gender"].value_counts()

# Gender_counts

In [238]:
# Gender percentages
Percentages_by_Gender = (Gender_counts/Players_count * 100).round(2).map("{:.2f}%".format)

# Percentages_by_Gender

In [118]:
# display the gender counts summary with the headings 'Total Count' and 'Percentage of Players'

Summary_Demography = pd.DataFrame({"Total Count": Gender_counts,
                           "Percentage of Players":Percentages_by_Gender})
Summary_Demography

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [119]:
# Go into the purchase_data, use the groupby function to split the data groups based on 'Gender' and perform calcualtions on various series, with renaming and decimal places formatting

Purchase_Count_by_Gender = purchase_data.groupby(["Gender"])["Price"].count().rename("Purchase Count")
#Purchase_Count_by_Gender

In [120]:
Average_Purchase_Price_by_Gender = purchase_data.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price").round(2)
# Average_Purchase_Price_by_Gender

In [121]:
Total_Purchase_Value_by_Gender = purchase_data.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
# Total_Purchase_Value_by_Gender

In [122]:
Average_Total_Purchase_per_Person = (Total_Purchase_Value_by_Gender /  Summary_Demography["Total Count"]).round(2)
# Average_Total_Purchase_per_Person

In [123]:
# display the gender purchasing analysis with the lables /headings/ 'Purchase Count', 'Average Purchase Price', 'Total Purchases Value', 'Average Total Purchase per Person'
Gender_purchasing_summary = pd.DataFrame({"Purchase Count": Purchase_Count_by_Gender,
                           "Average Purchasing Price" : Average_Purchase_Price_by_Gender,
                           "Total Purchases Value": Total_Purchase_Value_by_Gender,
                           "Average Total Purchase per Person": Average_Total_Purchase_per_Person})
Gender_purchasing_summary

,Purchase Count,Average Purchasing Price,Total Purchases Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [124]:
# Create a dataframe that captures the Total Counts and Percentage of players by age groups

# Create bins to put ages 'float values' into discrete intervals

Age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]

In [125]:
# Create bin names for the age intervals

Age_group_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [126]:
# Use the .loc function to access group of rows under the labels /headings/ 'SN' and 'Age' and store into the variable 'Demographics'

Demographics = purchase_data.loc[:,["SN", "Age"]].drop_duplicates()
# Demographics

In [127]:
# Go into variable named Demographics, grab the rows under the 'Age' label, and store in a variable called Age_demographics

Age_demographics = Demographics["Age"]
# Age_demographics

In [128]:
# Categorize the players in the variable 'Age_demographics' using the age bins. The .cut function /works on only one-dimensional array-like objects, 'Age' in this case/ separates the array elements into different bins

Age_demographics["Age Groups"] = pd.cut(Age_demographics, Age_bins, labels=Age_group_bin_names)

In [129]:
# Count the players by the age groupings, sort by descending order, store results in variable 'Age_Group_counts'
Age_Group_counts = Age_demographics["Age Groups"].value_counts().sort_index()
# Age_Group_counts

In [130]:
# Calculate percentages of age groupings and store in variable 'dem_percent'

dem_percent = ((Age_Group_counts / Players_count) * 100).round(2).map("{:.2f}%".format)
# dem_percent

In [131]:
#Display age demographics summary data frame

Age_demography_df = pd.DataFrame({"Total Count" : Age_Group_counts,
                                "Percentage of Players" : dem_percent})

In [132]:
Age_demography_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
# The bins and bin names have been created for the age groups above. Categorize the purchasing data with the age bins and group names

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], Age_bins, labels=Age_group_bin_names)

In [141]:
# Calculate purchase counts per age groups.
# Use the .groupby function to split 

dem_purchase_count = purchase_data.groupby(["Age Groups"]).count()["Purchase ID"].map("{:,}".format)
# dem_purchase_count

In [135]:
# Calculate Average Purchase Price by age groups

dem_average_purchase_price = purchase_data.groupby(["Age Groups"]).mean()["Price"]
# dem_average_purchase_price

In [136]:
# Calculate total purchase value

dem_tot_purchase_val = purchase_data.groupby(["Age Groups"]).sum()["Price"]
# dem_tot_purchase_val

In [138]:
# Calculate avearge total purchase per person within each age grouping

ave_tot_purchase_per_person = dem_tot_purchase_val / Age_demography_df["Total Count"]
# ave_tot_purchase_per_person

In [143]:
# Display age groups summary purchase dataframe

dem_agegroups_purchase_df = pd.DataFrame({"Purchase Count" : dem_purchase_count,
                                         "Average Purchase Price" : dem_average_purchase_price.map("${:,.2f}".format),
                                         "Total Purchase Value" : dem_tot_purchase_val.map("${:,.2f}".format),
                                         "Avg Total Purchase per Person" : ave_tot_purchase_per_person.map("${:,.2f}".format)})

In [7]:
dem_agegroups_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [202]:
# Count of spenders
# Go into the purchase data, use the groupby function split the data based on spenders SN *group the SN column from purchase_data* and perform count of 'purchase ID'. This maps the players to their respective counts

Players_purchase_count = purchase_data.groupby(["SN"]).count()["Purchase ID"]
# Players_purchase_count

In [203]:
# Calculate average purchase price per player
# Go into the purchase data, use the groupby function split the data based on spenders SN *group the SN column from purchase_data* and perform mean of 'Price'. This maps the players to their respective mean prices

Players_average_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"].map("${:.2f}".format)
# Players_average_purchase_price

In [204]:
# Calculate players total purchase value
# Go into the purchase data, use the groupby function split the data based on spenders SN *group the SN column from purchase_data* and perform sum of 'Price'. This maps the players to their respective total prices

Players_total_purchase_val = purchase_data.groupby(["SN"]).sum()["Price"].map("${:.2f}".format)
# Players_total_purchase_val

In [206]:
# Create a summary data frame to hold the results

Spenders_df = pd.DataFrame({"Purchase Count" : Players_purchase_count,
                           "Average Purchase Price" : Players_average_purchase_price,
                           "Total Purchase Value" : Players_total_purchase_val})
Spenders_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

In [207]:
# Sort the total purchase value column in descending order
# standard sort_values of the Total Purchase Values with the dollar sign attached will treat the values as string and start reading from the $ sign.
# sort_values with lambda transformms the collection items, where the lambda key replaces the dollar sign with empty space, before the items are compared.

top_5_spenders = Spenders_df.sort_values("Total Purchase Value", key=lambda s: s.map(lambda x: x.replace('$','')).astype(float), ascending=False)

top_5_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [216]:
# Retrieve the Item ID, Item Name, and Item Price columns
# Go into purchase_data, use the .loc function to access rows and columns by labels

Item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
# Item_data.head()

In [226]:
# Group by Item ID and Item Name. Perform calculations to obtain purchase count

Item_purchase_count = Item_data.groupby(["Item ID", "Item Name"]).count()["Price"]
# Item_purchase_count

In [227]:
# Group by Item ID and Item Name. Perform calculations to obtain sum of purchases 

Item_purchase_tot_val = Item_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
# Item_purchase_tot_val

In [228]:
# Caluculate item purchase price

Item_purchase_price = Item_purchase_tot_val / Item_purchase_count
# Item_purchase_price

In [229]:
#Create a summary data frame to hold the results with currency and decimal places formatted
Item_purchase_summary_df = pd.DataFrame({"Purchase Count" : Item_purchase_count,
                                        "Item Price": Item_purchase_price.map("${:,.2f}".format),
                                        "Total Purchase Value" : Item_purchase_tot_val.map("${:,.2f}".format)})

In [230]:
Item_purchase_summary_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,$1.28,$5.12
1,Crucifer,4,$2.94,$11.77
2,Verdict,6,$2.48,$14.88
3,Phantomlight,6,$2.49,$14.94
4,Bloodlord's Fetish,5,$1.70,$8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
181,Reaper's Toll,5,$1.66,$8.30
182,Toothpick,3,$4.03,$12.09
183,Dragon's Greatsword,3,$1.09,$3.27

In [234]:
# Sort the purchase count column in descending order
top_5_purchase_items = Item_purchase_summary_df.sort_values("Purchase Count", ascending=False)

In [235]:
top_5_purchase_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [236]:
# Sort the above table by total purchase value in descending order, with $ currency and decimal places formatted

Top_5_purchase_val_items = Item_purchase_summary_df.sort_values("Total Purchase Value", key=lambda s: s.map(lambda x: x.replace('$','')).astype(float), ascending=False)

In [237]:
Top_5_purchase_val_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80